flows (2).json
[
    {
        "id": "c8d801bf08f5869b",
        "type": "tab",
        "label": "Ejercicio 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98220ae127761f87",
        "type": "telegram sender",
        "z": "c8d801bf08f5869b",
        "name": "Enviarmensaje",
        "bot": "7d08b6630216f0d2",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1460,
        "y": 720,
        "wires": [
            [
                "6bfd9d625c08730b"
            ]
        ]
    },
    {
        "id": "e94f4d8640569b69",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "Formateo telegram",
        "func": "\nmsg.payload = {\n    \"chatId\": 6228042368,\n    \"type\": \"message\",\n    \"content\": \"Peligro!!! Valores mayores a 600 Valor:\" + msg.payload.pot1 + \"\"\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "98220ae127761f87",
                "dfcc15fc9ba9f8fb"
            ]
        ]
    },
    {
        "id": "6bfd9d625c08730b",
        "type": "debug",
        "z": "c8d801bf08f5869b",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 640,
        "wires": []
    },
    {
        "id": "d35d4db4d697b29d",
        "type": "json",
        "z": "c8d801bf08f5869b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "c6ad5cd5f9fdd575",
                "84c7470ff5e10660"
            ]
        ]
    },
    {
        "id": "41266a586df70fcc",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "c8d801bf08f5869b",
        "name": "WatsAppBot",
        "account": "452984d4cbdd47d7",
        "text": "payload.content",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 1450,
        "y": 520,
        "wires": [
            [
                "800435b09347fadd"
            ]
        ]
    },
    {
        "id": "800435b09347fadd",
        "type": "debug",
        "z": "c8d801bf08f5869b",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 420,
        "wires": []
    },
    {
        "id": "84c7470ff5e10660",
        "type": "debug",
        "z": "c8d801bf08f5869b",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfcc15fc9ba9f8fb",
        "type": "debug",
        "z": "c8d801bf08f5869b",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 640,
        "wires": []
    },
    {
        "id": "bd97ebe71adce9e6",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "Formateo whatsapp",
        "func": "\nmsg.payload = {\n    \"content\": \"Peligro!!! Valores mayores a 600 Valor: \" + msg.payload.pot1\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 600,
        "wires": [
            [
                "41266a586df70fcc",
                "f03129af05b666f0"
            ]
        ]
    },
    {
        "id": "f03129af05b666f0",
        "type": "debug",
        "z": "c8d801bf08f5869b",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "c6ad5cd5f9fdd575",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "Condicional",
        "func": "\n// Valor analogico de A0\nlet A0Value = msg.payload.pot1;\n\n\n// Se esta reproduciiendo algo en el nodo de audio \n\nif (A0Value > 800 ) {\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"mensajesEnviados\", 0)",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "a54b4419bae90f10",
                "9a5b232896d59205"
            ]
        ]
    },
    {
        "id": "871150bf3d21fb25",
        "type": "ui_audio",
        "z": "c8d801bf08f5869b",
        "name": "",
        "group": "34fa86bcf389f3b9",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": true,
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "4823bc269d8b2e04",
        "type": "ui_toast",
        "z": "c8d801bf08f5869b",
        "position": "top right",
        "displayTime": "8",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "88478539255e41fc",
        "type": "ui_text",
        "z": "c8d801bf08f5869b",
        "group": "d06eb2c6464ac712",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "a54b4419bae90f10",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "Formateo mensajes",
        "func": "// Valor analogico de A0\nlet A0Value = msg.payload.pot1;\n// Se esta reproduciiendo algo en el nodo de audio \nlet estado = flow.get(\"PlayingAudio\");\nif (A0Value > 800 && estado === false) {\n    msg.payload = \"¡Peligro!, valor fuera de rango\";\n    flow.set(\"PlayingAudio\", true); // El nodo de audio esta ocupado\n    setTimeout(function () { flow.set(\"PlayingAudio\", false); }, 2000);\n    return msg;\n} else {\n    return null;\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"PlayingAudio\") === undefined) {\n    flow.set(\"PlayingAudio\", false);\n}",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 660,
        "wires": [
            [
                "1587b1c7386a90ea"
            ]
        ]
    },
    {
        "id": "1587b1c7386a90ea",
        "type": "delay",
        "z": "c8d801bf08f5869b",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "88478539255e41fc",
                "871150bf3d21fb25",
                "4823bc269d8b2e04"
            ]
        ]
    },
    {
        "id": "d252ecf920bf1b98",
        "type": "e-mail",
        "z": "c8d801bf08f5869b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "ve502295@uaeh.edu.mx",
        "dname": "",
        "x": 1450,
        "y": 820,
        "wires": []
    },
    {
        "id": "bdaf4f2a8416b3ed",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "Formateo correo",
        "func": "\nmsg.payload = \"Hola Mundo NODE - RED\";\nmsg.topic = \"Asunto de prueba\";\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 780,
        "wires": [
            [
                "d252ecf920bf1b98"
            ]
        ]
    },
    {
        "id": "2164ddc7099e6c82",
        "type": "serial in",
        "z": "c8d801bf08f5869b",
        "name": "",
        "serial": "b1c65f463b3fbf0e",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "fc25d5dd15267e59"
            ]
        ]
    },
    {
        "id": "fc25d5dd15267e59",
        "type": "mqtt out",
        "z": "c8d801bf08f5869b",
        "name": "LecturasAnalogicas",
        "topic": "uaeh/erick/redes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6582f323d6ac2cd4",
        "x": 350,
        "y": 940,
        "wires": []
    },
    {
        "id": "902582da61a631d2",
        "type": "mqtt in",
        "z": "c8d801bf08f5869b",
        "name": "Recibir Analogicos y Botones",
        "topic": "uaeh/erick/redes",
        "qos": "2",
        "datatype": "utf8",
        "broker": "6582f323d6ac2cd4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "d35d4db4d697b29d"
            ]
        ]
    },
    {
        "id": "9a5b232896d59205",
        "type": "delay",
        "z": "c8d801bf08f5869b",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "6",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "6645863fb70245d6"
            ]
        ]
    },
    {
        "id": "6645863fb70245d6",
        "type": "switch",
        "z": "c8d801bf08f5869b",
        "name": "Verificar si ya se enviaron 4 mensajes",
        "property": "mensajesEnviados",
        "propertyType": "global",
        "rules": [
            {
                "t": "lt",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "bd97ebe71adce9e6",
                "e94f4d8640569b69",
                "bdaf4f2a8416b3ed",
                "2860b535e4aeb606"
            ],
            [
                "2db51a460572ac4a"
            ]
        ]
    },
    {
        "id": "aa36da29237b9a88",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "Resetear conteo de mensajes",
        "func": "global.set(\"mensajesEnviados\", 0);\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"mensajesEnviados\", 0)",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2db51a460572ac4a",
        "type": "delay",
        "z": "c8d801bf08f5869b",
        "name": "Esperar 1 minuto",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 580,
        "wires": [
            [
                "aa36da29237b9a88"
            ]
        ]
    },
    {
        "id": "a2d030befc69bc70",
        "type": "debug",
        "z": "c8d801bf08f5869b",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "2860b535e4aeb606",
        "type": "function",
        "z": "c8d801bf08f5869b",
        "name": "function 6",
        "func": "var cantidad = global.get('mensajesEnviados');\ncantidad++;\nglobal.set('mensajesEnviados', cantidad);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7d08b6630216f0d2",
        "type": "telegram bot",
        "botname": "ErickVBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "452984d4cbdd47d7",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Erick"
    },
    {
        "id": "34fa86bcf389f3b9",
        "type": "ui_group",
        "name": "Alertas",
        "tab": "d3fc2d27d754c467",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d06eb2c6464ac712",
        "type": "ui_group",
        "name": "Salidas Digitales",
        "tab": "d3fc2d27d754c467",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1c65f463b3fbf0e",
        "type": "serial-port",
        "serialport": "COM10",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "6582f323d6ac2cd4",
        "type": "mqtt-broker",
        "name": "Hive",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "ErickNR",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d3fc2d27d754c467",
        "type": "ui_tab",
        "name": "2023 UAEH Ago-Dic Redes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
